<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itrio.iqtest">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Required permissions for caching and ad operations to work -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Optional permissions to enable better geo-targeting of ads (recommended) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/brain"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vungle.publisher.VideoFullScreenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity android:name="com.vungle.publisher.MraidFullScreenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

        <activity android:name="com.vungle.publisher.FlexViewAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        >
        <activity
            android:name=".Welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Welcome_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Welcome_3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Easy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Normal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Hard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Genius"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IQ_FullForm"
            android:screenOrientation="portrait" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Result_QA"
            android:label="@string/title_activity_result__q"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Score"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Highscores"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Question"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About_us"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tips"
            android:screenOrientation="portrait" />
        <activity android:name=".AdTestActivity"></activity>
    </application>

</manifest>